{% extends "base.html" %}
{% block title %}WOVEN{% endblock %}
{%block content%}
<form method="post" autocomplete="off">
  <div class="form-group">
    <label for="inputText">English to German</label>
    <input type="text" class="form-control" id="inputText" aria-describedby="inputHelp" placeholder="Enter text for encoding here." name="inputText">
    <small id="inputHelp" class="form-text text-muted">Ensure that your input is in the appropriate language.</small>
  </div>

<div class="row">
<div class="col inline">
<button type="submit" class="btn btn-primary inline", value="submit">Submit</button></form>
</div>
<div class="col inline">
{% if is_active == True %}
<form method='post' action='/vis'><button type='submit' class="btn btn-primary inline">Visualise Me!</button></form>
{% else %}
<form method='post' action='/vis'><button type='submit' class="btn btn-primary inline" disabled>Visualise Me!</button></form>
{% endif %}
</div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
<div class="col"></div>
</div>

{% if is_active == True %}
<div class="container">
<div class="col-md-5">
	<h2 class="inline">WOV Encoding</h2>
	<table class="table inline">
		<tbody>
		{% for row in encoding %}
		{% for element in row %}
		{% if loop.index == 0 %}
		<th scope="row">{{element}}</th>
		{% else %}
		<td>{{element}}</td>
		{% endif %}
		{% endfor %}
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
	<div class="col-md-5 inline">
	<h2>{{input_language}}</h2><br>
	{% for i in num_input_tokens %} 
		<span style="background-color: {{icolours[i]}}">{{itokens[i]}}</span>
	{% endfor %}<br></div>

<div class="col-md-5 inline">
	<h2>{{output_language}}</h2>
	{% for i in num_output_tokens %} 
		<span style="background-color: {{ocolours[i]}};">{{otokens[i]}}</span>
	{% endfor %}<br>
</div>
</div>
{% endif %}

{%endblock content%}

