{% extends "base.html" %}
{% block title %}WOVEN{% endblock %}
{%block content%}
<form method="post" autocomplete="off">
  <div class="form-group">
    <label for="inputText">Original</label>
    <input type="text" class="form-control" id="inputText" aria-describedby="inputHelp" placeholder="Enter text for encoding here." name="inputText">
    <small id="inputHelp" class="form-text text-muted">Ensure that your input is in the appropriate language.</small>
  </div>
  <button type="submit" class="btn btn-primary", value="submit">Submit</button>
</form>

<h2>English</h2><br>
{% for i in num_input_tokens %} 
<span style="background-color: {{icolours[i]}}">{{itokens[i]}} &nbsp;</p>
{% endfor %}<br>

<h2>German</h2>
{% for i in num_output_tokens %} 
<span style="background-color: {{ocolours[i]}}">{{otokens[i]}} &nbsp;</p>
{% endfor %}<br>

<h1>{{translation}}</h1>
{%endblock content%}

